{:paths ["resources" "src"]
 :deps  {uncomplicate/neanderthal {:mvn/version "0.23.1"}}
 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.1.7"}}
                     :main-opts  ["-m" "hf.depstar.uberjar" "test.jar"]}}}
