{:paths ["resources" "src"]
 :deps  {compute/math {:git/url "git@github.com:ComputeSoftware/math.git"
                       :sha     "24b284b1144cd16ee0cc0dfb2cb6ab92703c9f5e"}}
 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.1.7"}}
                     :main-opts  ["-m" "hf.depstar.uberjar" "test.jar"]}}}
